.list{
    color:#fff;
    background-color: #bf07ac;
    height: 50px;
    margin: 20px auto;
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 20px;
}
.list p{
    padding: 10px;
    position:relative;
}
.list p span{
    position:absolute;
    right: 10px;
    cursor: pointer;
}
.faicons{
    margin: 0 5px;
    font-size: 15px;
}
.list p input{
    background-color: transparent;
    border: none;
    outline-style: none;
    color: #fff;
}
